.wrapper {
    margin: 50px;
    display: flex;
    width: 400px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.summaryTitle{
    text-align: center;
}

.summary{
    width: 100%;
    margin: 12px;
}

.summaryContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    color: purple;
}

.checkoutButton{
    display:flex;
    justify-content: space-evenly;
    gap:10px
}